.footer{
  background: url('/img/footer.jpg') center center no-repeat;
  background-size: cover;
  color: $white;
  height: 435px;
  .container{
    padding: 50px 0 30px;
    @media screen and (max-width: 1220px){
      padding: 50px 15px 100px;
    }
  }
  .col{
    flex: 1px;
    text-align: left;
    //&-2{
    //  flex: 3
    //}


    a, li{
      @include font($font-Lato-Light, 14px, $white);
      display: block;
      text-decoration: none;
      padding: 10px 0;


        &.anchor{
          font-family: $font-Lato-Regular;
          border-bottom: 1px solid $white;
          display: inline-block;
          padding: 0;
          margin-bottom: 10px;
        }


      &:hover{
        opacity: .7;
      }

    }
    li:hover{
      opacity: 1;
    }

    div.social{
      display: flex;
      margin-top: 4px;
      a{
        //flex: 1;
        font-size: 20px;
        opacity: 0.7;
        margin-right: 30px;
        &:last-child{
          margin-right: 0;
        }
        &:hover{
          opacity: 1;
        }
      }


    }
  }

  .copyright{
    font-size: 13px;
    border-top: 1px solid #e1e1e1;
    padding-top: 25px;
    .copy{
      color: #c9c6c6;
      &-links{

        a{
          color: #999999;
          margin-left: 20px;
          text-decoration: none;
        }

      }

    }
  }
}