.section{
  background: $white;
  padding-top: 50px;
  //height: 100vh;
  box-sizing: border-box;
  position: relative;

  .bold{
    font-family: $font-Lato-Regular;
    margin-left: 14px;
  }
  .title{
    padding-bottom: 40px;
    //padding: 40px 0;
    //box-sizing: border-box;

  }
  .text{
    text-align: left;
    p{
      //@include font($font-Lato-Regular, 24px, $text-color);

    }
  }
}

.screen{
  %img{
    width: 100%;
    height: auto;
  }
  &-1{
    height: 100vh;
    background: url('/img/screen-1.jpg') center center no-repeat;
    background-size: cover;
    color: $white;
    //padding-top: 50px;
    @include font($font-Lato-Light, 16px, $white);

    .logo{
      //margin-top: 130px;
      //margin-bottom: 120px;
      margin: 130px auto 120px;
      height: auto;
      //@media screen and (max-width: 1400px){
      //  margin: 6% auto 4%;
      //}
    }
    .title{
      font-size: 100px;
      //font-size: 7em;
    }
    .contact-us-white:after{
      vertical-align: middle;
      margin-top: -3px;
    }
  }

  &-2{
    height: auto;
    .title{
      @include font($font-Lato-Light, 50px, $text-color);
      //@extend %title;
      .bold{
        font-family: $font-Lato-Regular;
        margin-left: 14px;
      }
    }

    .map{
      max-width: 1300px;
      padding-bottom: 50px;

      img{
        margin-right: -132px;
        @extend %img;

        @media screen and (max-width: 1480px){
          margin-right: 0;
          width: 100%;
        }
      }
    }

    .text{
      padding: 0 105px;
      padding-bottom: 180px;
    }
  }

  &-3{
    height: auto;
    margin-bottom: -20px;
    .title{
      @include font($font-Lato-Light, 50px, $text-color);
    }
    .development{
      @include flex(space-between);
      > div{
        flex: 1
      }
    }
    .bold{
      margin-top: 38px;
      //margin-left: 0;
    }
    .text .bold{
      margin-left: 0;
    }

    .text{
      font-size: 24px;
    }

    .list{
      padding-left: 20px;
      li{
        padding-left: 20px;
        font-size: 24px;
      }
    }
    .pic{
      max-width: 652px;
      height: 455px;
      margin-top: -80px;
      img{
        margin-right: -125px;
        @extend %img;
        @media screen and (max-width: 1480px){
          margin-right: 0;
          width: 100%;
        }
      }
    }
  }

  &-4 {
    background: url('/img/screen-4.jpg') center center no-repeat;
    background-size: cover;
    color: $white;

    .title{
      @include font($font-Lato-Light, 50px, $white);
      margin-top: 50px;
    }
    .features{
      padding: 110px 105px 200px;

      @include flex(space-around);
      img{
        width: 143px;
        height: auto;
      }
    }
    .contact{
      position: relative;
      bottom: 0;
      text-align: center;
      width: 100%;
      padding-bottom: 120px;
      a{
        position: relative;
        left: 0
      }
    }
  }

  &-5{

    .development{
      @include flex(space-between);
      > div{
        flex: 1
      }
    }
    .bold{
      margin-left: 0;
    }

    .pic{
      margin-left: 188px;
      text-align: left;
      margin-right: -160px;

      width: 288px;
      img{
        @extend %img;
      }
    }
    .title{
      @include font($font-Lato-Light, 50px, $text-color);
      margin-top: 0;
      //padding-top: 10px;
      padding-bottom: 35px;
      line-height: 54px;
    }

    .text{
      p{
        margin-bottom: 35px;
      }
    }

    .contact-us{
      position: relative;
      left: 0;
      padding: 0;
      margin: 0px 0 70px;
      display: inline-block;
    }
  }


  &-6{
    //height: 842px;
  }

  &-7{
    .title {
      @include font($font-Lato-Light, 50px, $text-color);
    }
    .brands{
      padding-bottom: 70px;
      img{
        @media screen and (max-width: 1480px){
          width: 100%;
        }
      }
    }
  }
}




