@import 'fonts';
@import 'variables';

@import "reset";
@import "mixins";


html, body{

}

body{
  @include font($font-Lato-Light, 24px, $text-color);
  *:before,
  *:after{
    //display: none;
  }
}
.main-layout{
  .container{
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    text-align: center;
    &--flex{
      @include flex(space-between);
    }
  }
  @import "header";
  @import "section";
  @import "footer";
  @import "components/contact-us";
  @import "components/slider";
  @import "media";

}
