extends layout/main-layout

block body

  block header
    header.header
      div.container.container--flex
        a.logo(href="/")
          img(src="/img/logo.png")
        nav.nav
          span.close
          a.anchor(href="#about") О компании
          a.anchor(href="#products") Продукты
          a.anchor(href="#forpartners") Партнерам
          a.anchor(href="#contacts") Контакты
        div.menu
          i.fa.fa-bars
        div.search
          img(src="/img/search.png")

  block content
    section.section.screen-1
      div.container
        div.logo
          img(src="/img/logo-big.png")
        div.title Очевидный результат!
        a.contact-us-white.contact-us-big.anchor(href="#contacts") Связаться с нами

    section.section.screen-2#about
      div.container
        div.title PR Story
          span.bold marketing project
        div.map.wow.fadeInUp(data-wow-duration="0.5s" data-wow-offset="120")
          img(src="/img/map.png")
        div.text
          p.
            PR STORY MARKETING PROJECT – это международная компания, которая занимается
            разработками в сфере интеллектуальной видеотрансляции. Мы внедряем инновации,
            помогающие максимально эффективно использовать цифровые устройства
            в повседневной жизни, сделать их по-настоящему интерактивными. Мы открываем
            функционал привычных гаджетов с новой стороны.

        a.contact-us.anchor(href="#contacts") Связаться с нами


    section.section.screen-3#products
      div.container
        div.title Наши
          span.bold разработки


        div.development.wow.fadeInUp(data-wow-offset="220" data-wow-duration="0.5s" style="visibility: visible; animation-duration: 1.5s; animation-name: fadeInUp;")
          div.text
            p.
              Мы создали программное обеспечение на основе
              нейронных сетей, компьютерного зрения и
              искусственного интеллекта.

            p.bold.

              Наша система способна фиксировать и
              анализировать:

            ul.list
              li Пол
              li Возраст
              li Настроение
              li Наличие взгляда на экран
              li Готовность к восприятию информации

          div.pic
            img(src="/img/pic.png")


    section.section.screen-4#forpartners
      div.container
        div.title Области
          span.bold применения

        div.features
          img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-offset="120" src="/img/feature-1.png" )
          img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.2s" data-wow-offset="120" src="/img/feature-2.png")
          img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.4s" data-wow-offset="120" src="/img/feature-3.png")
          img.wow.fadeInUp(data-wow-duration="0.5s" data-wow-delay="0.6s" data-wow-offset="120" src="/img/feature-4.png")

        div.contact
          a.contact-us-white(href='#') Скачать презентацию

    section.section.screen-5
      div.container
        div.development
          div.pic.wow.fadeInUp(data-wow-duration="0.5s" data-wow-offset="20")
            img(src="/img/smartphone.png")

          div.text
            div.title Очевидный
              div.bold результат!
            p.
              Все разработки, внедряемые нами не являются открытиями. Уникальность нашей системы в комбинации открытий. И если мировые интернет-корпорации используют подобные наработки для сбора закрытой статистике о вас, то мы предлагаем вам инструменты для вас.
            p.
              Инструменты, уже сейчас служащие для повышения эффективности рекламы малого бизнеса, детского образования, коммуникации команд, безопасности.
            p.
              Мы открыты к диалогу и сотрудничеству и уверены — то, что мы делаем, нужно людям

            a.contact-us.anchor(href="#contacts") Связаться с нами


    section.section.screen-6

        div.slider
          div.slider-list.slide-1
            div.container
              div.slider-list__content.flex
                div.left
                div.right
                  div.title PR
                    span.bold Construction
                  div.text
                    p.
                      СRM-система для строительных
                      компаний, позволяющая добиться
                      эффективного взаимодействия
                      строителей и подрядчиков
                  a.more(href="#") Подробнее

          div.slider-list.slide-2
            div.container
              div.slider-list__content.flex
                div.left
                div.right
                  div.title PR
                    span.bold Badi
                  div.text
                    p.
                      PR BADI – умный детский планшет
                      с образовательной функцией,
                      направленный на защиту детей
                      от нежелательного контента.
                  a.more Подробнее

          div.slider-list.slide-3
            div.container
              div.slider-list__content.flex
                div.left
                div.right
                  div.title PR
                    span.bold Beauty
                  div.text
                    p.
                      планшеты для салонов красоты,
                      которые помогают увеличить
                      клиентопоток и повысить
                      эффективность видеорекламы.
                  a.more(href="#") Подробнее

          div.slider-list.slide-4
            div.container
              div.slider-list__content.flex
                div.left
                div.right
                  div.title PR
                    span.bold Wifi
                  div.text
                    p.
                      возможность использования
                      бесплатного интернета в обмен
                      на просмотр рекламного
                      видеоконтента.
                  a.more Подробнее

          div.slider-list.slide-5
            div.container
              div.slider-list__content.flex
                div.left
                div.right
                  div.title PR
                    span.bold Smart eye
                  div.text
                    p.
                      устройство для дисплеев, которое
                      помогает получить информацию
                      об аудитории, просматривающей
                      рекламу.
                  a.more Подробнее


    section.section.screen-7
      div.container
        div.title Бренды,
          span.bold которым нужны наши решения
        div.brands.wow.fadeIn(data-wow-duration="0.5s" data-wow-offset="120")
          img(src="/img/brands.jpg")



  block footer
    footer.footer#contacts
      div.container.container--flex
        div.col
          a.anchor(href="#about") О компании
          a.item(href="#") подменю
          a.item(href="#") подменю
        div.col
          a.anchor(href="#forpartners") Партнерам
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
        div.col
          a.anchor(href="#products") Продукты
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
        div.col
          a.anchor(href="#contacts") Пункт меню
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю
          a.item(href="#") подменю

        //div.col
        div.col
          a.anchor(href="#contacts") Контакты
          ul
            li.item г.Минск, ул. Мельникайте, д. 2
            li.item Телефон контакт центра:
            li.item +375 (33) 6 810 800
            li.item prstoryminsk@gmail.com
          div.social
            a(href="#")
              i.fa.fa-twitter
            a(href="#")
              i.fa.fa-facebook
            a(href="#")
              i.fa.fa-linkedin
            a(href="#")
              i.fa.fa-pinterest-p
            a(href="#")
              i.fa.fa-flickr
      div.container.container--flex.copyright
        div.copy Copyright © 2018  PR Story
        div.copy-links
          a(href="#") Пользовательское Соглашение
          a(href="#") Карта Сайта




append scripts
  // анимация при прокрутке
  script new WOW().init();
  //script(src = 'js/script.js')


