doctype html

html(lang='ru', class = page)
  head
    meta(charset = 'utf-8')
    //meta(name="viewport" content="width=1280, initial-scale=1")
    //meta(name="viewport" content="initial-scale=1")
    title Главная
    block styles
      //for scss
      link(rel='stylesheet',href='/css/all.css')
      link(rel="stylesheet" href="/assets/slick/slick.css")
      link(rel="stylesheet" href="/assets/slick/slick-theme.css")
      link(rel="stylesheet" href="/assets/font-awesome-4.7.0/css/font-awesome.min.css")
      //link(rel="stylesheet" href="/assets/animate.css")
      link(rel="stylesheet" href="/assets/wow-animation/animate.min.css")

      //link(rel='stylesheet',href='/assets/bootstrap-3/css/bootstrap.css')
      //script(src='/js/jquery-3.2.1.min.js')
      //for less
      //link(rel='stylesheet',href='css/style.css')

  body.main-layout
    block body
      block header
      block toolbar
      block content
      block footer
      block modal


    block scripts
      script(src='/js/jquery-3.2.1.min.js')
      //script(src='/assets/bootstrap-3/js/bootstrap.js')

      script(src="/assets/slick/slick.min.js")
      script(src="/assets/wow-animation/wow.min.js")
      script(src = '/js/script.js')

